@font-face {
    font-family: 'Pixel';
    src: url('../fonts/DisposableDroidBB.otf');
}
    
body {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #3e3e3e;
    color: #ffffff;
    font-family: monospace;
}

#messagesContainer {
	position: absolute;
    width: 350px;
    height: 100%;
    right: 0;
    border-left: 1px solid #292929;
    padding-top: 45px; 
    padding-bottom: 130px;
    overflow: scroll;
}

.message {
    color: white;
    padding: 10px;
    margin: 3px 10px;
    font-family: monospace;
    font-size: 16px;
    width: 330px;
    border-left: 3px solid;
}

.USERmsg {
    border-left-color: #e82f2f;
}

.CPUmsg {
    border-left-color: #4bb5f3;
}

.CONSOLEmsg {
    border-left-color: #ffb026;
}

#audioGraphic {
	position: fixed;
    top: 10px;
    width: 330px;
    margin: 0 10px;
    height: 35px;
    background: red;
    padding: 10px;
    border-left: 3px solid transparent;
}

#buttonContainer {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #292929;
    background: #3e3e3e;
}

#buttonContainer button {
	display: block;
    background: white;
    color: black;
    padding: 10px;
    margin: 10px;
    font-family: 'Major Mono Display';
    font-size: 16px;
    width: 330px;
    border: none;
    border-radius: 4px;
}