@font-face {
    font-family: 'Pixel';
    src: url('../fonts/DisposableDroidBB.otf');
}
    
body {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #3e3e3e;
    color: #ffffff;
    font-family: monospace;
}

#messagesContainer {
	position: absolute;
    width: 350px;
    height: 100%;
    right: 0;
    border-left: 1px solid #292929;
    padding-top: 45px; 
    padding-bottom: 130px;
    overflow: scroll;
}

.message {
    color: black;
    background: white;
    padding: 10px;
    margin: 10px 10px;
    font-family: "VT323", monospace;
    font-size: 16px;
    width: 300px;
}

.USERmsg {
    border-left: 3px solid #f24a4a;
    border-radius: 0 5px 5px 0;
}

.CPUmsg {
    border-right: 3px solid #4bb5f3;
    margin-left: 40px;
    border-radius: 5px 0 0 5px;
    background: #adefff;
}

.CONSOLEmsg {
    width: 330px;
    background: transparent;
    color: #ffffff;
    text-align: center;
}

#audioGraphic {
	position: fixed;
    top: 0px;
    width: 349px;
    height: 45px;
    border-bottom: 1px solid #292929;
    background: #3e3e3e;
    color: white;
    padding: 0 20px;
    line-height: 45px;
    border-left: 3px solid transparent;
    font-family: "VT323", monospace;
    text-align: center;
}

#buttonContainer {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #292929;
    background: #3e3e3e;
}

#buttonContainer button {
	display: block;
    background: white;
    color: black;
    padding: 10px;
    margin: 10px;
    font-family: "VT323", monospace;
    font-size: 16px;
    width: 330px;
    border: none;
    border-radius: 5px;
}